<h1>Blacjack API</h1>
<ul>
<li>To start a game with curl (requires cookies to store game id): curl server:3000/api/game_api -b cook.txt -c cook.txt</li>
<li>To hit: curl server/api/game_api -b cook.txt -c cook.txt --data "game_action=hit" -X PUT</li>
<li>To stay: To hit: curl server/api/game_api -b cook.txt -c cook.txt --data "game_action=stay" -X PUT</li>
</ul>
